<template name="navigation">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="{{pathFor route='home'}}">Home</a></li>
                    {{#if loggedIn}}
                        {{> navLoggedIn}}
                    {{else}}
                        {{> navNotLoggedIn}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>
<template name="navLoggedIn">
    <li><a href="{{pathFor route='todos'}}">Todos</a></li>
    <li><a href="#!" id="logout">Logout</a></li>
</template>
<template name="navNotLoggedIn">
    <li><a href="{{pathFor route='login'}}">Login</a></li>
    <li><a href="{{pathFor route='register'}}">Register</a></li>
</template>