<template name="todos">
    <div class="row">
        <div class="col l6 push-l3">
            <h3>Tasks</h3>
        </div>
    </div>
    <div class="row">
        <div class="col l6 push-l3">
            <ul class="collection with-header">
                <li class="collection-header">
                    {{> addTodo}}
                </li>
                {{#each todo}}
                    {{> todoItem}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>
<template name="todoItem">
    <li class="{{checked}} collection-item">
        <div>{{name}}<a href="#!" class="delete-todo secondary-content"><i class="material-icons">delete</i></a></div>
    </li>
</template>
<template name="addTodo">
    <form>
        <div class="row">
            <div class="input-field col s12">
                <input id="todoName" name="todoName" type="text" class="validate">
                <label for="todoName">Create Task</label>
            </div>
        </div>
    </form>
</template>